* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    font-size:16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* styles for the grid container that creates the main structure */
.main-container {
    display:grid;
    width:90vw;
    margin:auto;
    grid-template-rows:10% 80%;
    gap:1rem;
    background-color:azure;
    padding:2rem;
}

/* styles for the two grid rows inside the main container */

.header {
    grid-row:1/2;
    display:grid;
    grid-template-columns:3fr 1fr;
    padding:0.3rem;
    align-items:start;

}

/* styles for the navigation section */
.heading, .add-book {
    display:flex;
    align-items:center;
    font-weight:bolder;
}

/* individual styles for the heading on the navigation section */
.heading {
    font-size:1.5rem;
    grid-column:1/2;
    justify-content:center;
   
}

/* class styles for the button on the navigation section */
.add-book {
    grid-column:2/3;
    justify-content: end;
    padding:0.5rem;
}

/* Id styles or the button on the navigation section  */
#addBook {
    background-color:blue;
    color:white;
    padding:0.5rem;
    width:40%;
    border-radius:10px;
}


/*  styles for the dynamic content container */
.content {
    grid-row:2/3;
    display:flex;
    flex-wrap:wrap;
    gap:0.5rem;
    padding:0.5rem;
    align-items:end;
    height:100%;
}

/* styles for the form container */
.form-container {
    height:70vh;
    padding:2rem;
    width:40%;
    display:flex;
    align-items:start;
}

/* styles for the form elements */
.form {
    border:2px solid brown;
    padding:2rem;
    background-color:gold;
}

/* styles for form labels */
.label {
    font-weight:bold;
    font-size:1.3rem;
}

/* styles for form inputs */
.input {
    width:100%;
    height:3vh;
    border:1px solid grey;
    margin:0.3rem 0.3rem;
    font-size:1rem;
    padding:1rem;
    font-weight:bold;
}

/* style for submit button of the form */
.submitBtn {
    background-color:lightgreen;
    padding:0.5rem;
    width:40%;
    border-radius:10px;
    margin-top:1rem;
    font-weight:bold;
    border:1px solid lightgreen;
}


/* styles for the individual book card */
.contentContainer {
    border:2px solid blue;
    width:20vw;
    height:30vh;
    background-color:aqua;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}


/* styles for buttons container on the book card */
.buttons-container {
    padding:0.3rem;
    margin-top:0.5rem;
    width:70%;
    display:flex;
    justify-content: space-around;
}

/* styles for the buttons on the book card */
.btns {
    background-color:blue;
    color:white;
    padding:0.5rem;
    width:40%;
    border-radius:10px;
}


/* style for reand unread button when clicked*/

.read-btn {
    background-color:purple;
    color:white;
    padding:0.5rem;
    width:40%;
    border-radius:10px;
}


/* styles for pseudo states */
.input:hover {
    border:1px solid green;
}

.input:focus-visible {
    border:3px solid green;
    outline:none;
}

.input:valid {
    border:2px solid green;
    background-color:lightgreen;
}

.input:invalid {
    border:1px solid red;
    background-color:lightpink;
}