* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    background-color:azure;
    font-size:16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main-container {
    border:2px solid black;
    display:grid;
    width:90vw;
    margin:auto;
    grid-template-rows:10% 80%;
    gap:0.3rem;
    background-color:white;
    padding:2rem;
}

.header, .content {
    border: 2px solid red;
}

.header {
    grid-row:1/2;
    display:grid;
    grid-template-columns:3fr 1fr;
    padding:0.3rem;
}

.heading, .add-book {
    border:2px solid purple;
    display:flex;
    align-items:center;
}

.heading {
    font-size:1.5rem;
    grid-column:1/2;
    justify-content:center;
   
}

.add-book {
    grid-column:2/3;
    justify-content: end;
    padding:0.5rem;
}

#addBook {
    background-color:blue;
    color:white;
    width:40%;
    height:50%;
    border-radius:10px;
}

.content {
    grid-row:2/3;
    display:flex;
    flex-wrap:wrap;
    gap:0.5rem;
    padding:0.5rem;
}

.contentContainer {
    border:2px solid blue;
    width:20vw;
    height:30vh;
    background-color:aqua;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}